<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sv.fia.ues.controltesisw"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="sv.fia.ues.controltesisw.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="sv.fia.ues.controltesisw.AlumnoMenuActivity"
            android:label="@string/title_activity_alumno_menu" >
        </activity>
        <activity
            android:name="sv.fia.ues.controltesisw.AlumnoInsertActivity"
            android:label="@string/title_activity_alumno_insert" >
        </activity>
        <activity
            android:name="sv.fia.ues.controltesisw.EtapaMenuActivity"
            android:label="@string/title_activity_etapa_menu" >
        </activity>
        <activity
            android:name="sv.fia.ues.controltesisw.NotaMenuActivity"
            android:label="@string/title_activity_nota_menu" >
        </activity>
        <activity
            android:name="sv.fia.ues.controltesisw.AlumnoConsultarActivity"
            android:label="@string/title_activity_alumno_consultar" >
        </activity>
        <activity
            android:name="sv.fia.ues.controltesisw.AlumnoActualizarActivity"
            android:label="@string/title_activity_alumno_actualizar" >
        </activity>
        <activity
            android:name="sv.fia.ues.controltesisw.AlumnoEliminarActivity"
            android:label="@string/title_activity_alumno_eliminar" >
        </activity>
        <activity
            android:name="sv.fia.ues.controltesisw.EtapaInsertarActivity"
            android:label="@string/title_activity_etapa_insertar" >
        </activity>
        <activity
            android:name="sv.fia.ues.controltesisw.EtapaEliminarActivity"
            android:label="@string/title_activity_etapa_eliminar" >
        </activity>
        <activity
            android:name="sv.fia.ues.controltesisw.EtapaConsultarActivity"
            android:label="@string/title_activity_etapa_consultar" >
        </activity>
        <activity
            android:name="sv.fia.ues.controltesisw.EtapaActualizarActivity"
            android:label="@string/title_activity_etapa_actualizar" >
        </activity>
        <activity
            android:name="sv.fia.ues.controltesisw.NotaInsertarActivity"
            android:label="@string/title_activity_nota_insertar" >
        </activity>
        <activity
            android:name="sv.fia.ues.controltesisw.NotaConsultarActivity"
            android:label="@string/title_activity_nota_consultar" >
        </activity>
        <activity
            android:name="sv.fia.ues.controltesisw.NotaActualizarActivity"
            android:label="@string/title_activity_nota_actualizar" >
        </activity>
        <activity
            android:name="sv.fia.ues.controltesisw.NotaEliminarActivity"
            android:label="@string/title_activity_nota_eliminar" >
        </activity>
    </application>

</manifest>
